# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode9.4


env:
  matrix:
    - CONFIG=osx_cxx_compilerclangxx

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "tJ9T/x8X485VJmlfWIwwEHdXmqapXMuOHjshnWK+i3te5cP5psCNqnCM+uXk36zEkz5bwmf45cDCUrOjNojacBrhI0z8FZdaTqA3VuKNECyz0oEnL5ZxBAMroMdqNFfTj+TuIPkIaq2qkX9HhQKhJJ2GLuDaU26Qnyl1ZhBrCnkOnN6YwRtxFL9DcqHvc9ibsiTXypwUSnn1rmRg/O184LSSR6SxY3pV6fcOVD/Q8ATXv9KmzMO4Qz1yJR+QPjK9PYLxWTt7IWjIVj8YRDC+qN0DLlMs8OaKamRJ+AaH6vROkP8N5Wzi6lfj5Q5rz5lLDf40zpROdfbd9pcfVkbYqa9NQc1VrBw/tEabbVPhGFJBCBN4EhUXiP+vLN3a0fue+vHG7xCn7bkGohQ6q2cM/zd10H9zFKRfzejRon8QFOyDjHpPrmhjojolneN3S5EohdmoB5QdPUDeZYK0ej1hhuQ7XQn82mFvzTv1dUEzCCuZADtaTVGS5jD+cnkUbhOZAjhOKdbHOenvh/no27KGxHU3sD2LwXbaqBgy7LGAZjwOK38uprDxVPMPs0vdytuuDhpzkEfVl3b7vemIYeqKKChmICriJrGOixgfPiLgNWs+nMGvXvKWeH+lUTA5wK8WBHuoblm4ALteQ659XeP3ORqBPDxeV0dupYZhjdu/6D8="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install -n root -c conda-forge --quiet --yes conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml